{% extends "master-user.html" %}
{% block maintitle %}
Log in with your GNOME account
{% endblock %}
{% block toptext %}
<p>
    <strong>{{ login_target }}</strong> wants to use your GNOME credentials
</p>
{% endblock %}
{% block panelwidths %}col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2{% endblock %}
{% block main %}

{% if error %}
  <div class="alert-error">
    <p>{{ error }}</p>
  </div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" role="form" id="login_form" action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="ipsilon_transaction_id" id="ipsilon_transaction_id" value="{{ ipsilon_transaction_id }}">
        <div class="form-group {% if error_username %} has-error{% endif %}">
          <div class="col-xs-12">
            <input type="text" class="form-control" name="login_name" id="login_name" placeholder="{{ username_text }}" tabindex="1" value="{{ username | e }}">
          </div>
        </div>
        <div class="form-group {% if error_password %} has-error{% endif %}">
          <div class="col-xs-12">
            <input type="password" class="form-control" name="login_password" id="login_password" placeholder="{{ password_text }}" tabindex="2">
          </div>
        <div class="col-xs-12 text-right">
             <small class="text-muted"><a target="_blank" href="https://wiki.gnome.org/AccountsTeam/RetrieveYourGNOMEAccountPassword">Forgot password?</a></small>
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 submit">
            <button type="submit" value="login" class="btn btn-primary" tabindex="3">Log In</button>
          </div>
        </div>
      </form>
    </div>
</div>

{% endblock %}
