{% extends "master-user.html" %}
{% block toptext %}
<p>
<strong>{{trustroot}}</strong> requests to use the following details from your GNOME account
</p>
{% endblock %}
{% block panelwidths %}col-md-10 col-md-offset-1{% endblock %}
{% block maintitle %}Review the authorization details{% endblock %}
{% block main %}

<div>
  <form class="form-horizontal" role="form" id="consent_form" action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="ipsilon_transaction_id" id="ipsilon_transaction_id" value="{{ ipsilon_transaction_id }}">
{%- for item in authz_details|dictsort %}
        <div class="form-group">
            <div class="col-xs-12">{{ item[0] }}:</div>
            <div class="col-xs-12">{{ item[1] }}</div>
        </div>
{%- endfor %}
    <div class="form-group">
      <div class="col-xs-12">
        <button type="submit" name="decided_deny" value="Reject" class="btn btn-primary" tabindex="3">Reject</button>
        <button type="submit" name="decided_allow" value="Allow" class="btn btn-primary" tabindex="3">Allow</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
